body{margin: 0px;
    padding:0px;
    background-image: radial-gradient(#c7c7c7 25%,#c7c7c7 74%);
    font-family: system-ui;
  }
  .clearit{
  clear: both;
  }
  
  .main{
  height: 1240px;
  width: 900px;
  background-color:white;
  box-shadow: 5px 7px 15px 5px #3b1e1e;
  margin:20px auto;
  }
  
  .top-section{
  background-color: rgb(31, 14, 62);
  text-align:center;
  padding:15px;
  }
  
  .profile{
  width:150px;
  border:50%;
  }
  
  .p1{
  color: white;
  font-size: 35px;
  font-weight: bold;
  margin:0px;
  margin-top:0px;
  }
  
  
  .p2{
  font-size: 30px;
  color: white;
  font-weight: 500;
  margin:0px;
  margin-top: 0px;
  }
  
  .content-box{
    padding: 2rem;
    text-align: left;
    margin-top: -2.7rem;
  }
  
  .p3 {
  font-size: 13px; 
  color: rgb(43, 13, 99);
  margin-top: 1px;
  margin-bottom: 0px;
  }
  
  .material-symbols-outlined {
  display: inline-block; 
  vertical-align: middle; 
  color:rgb(43, 13, 99);

  }
  
  .head{
  text-decoration: underline;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(43, 13, 99);
  margin-top: -8px;
  }
  
  .node{
  padding-left: 35px;
  margin-top: -8px;
  
  }
  
  .head-main{
    margin-top: 50px;
  }
  
  .col-div-1{
    width:33%;
    float:left;
  }
  
  .col-div-2{
    width:65%;
    float:left;
  }
  
  .line{
    border-left: 1px solid #1c0760;
    height: 910px;
    width:0.5%;
    margin-top: 7px;
    float:left;
  }
  
  #prof{
    font-size: 13px;
    color: rgb(43, 13, 99);
    
  }
  
  
  .sub{
    font-size: 13px;
    margin-bottom: 0px;
    color:rgb(43, 13, 99);
  }
  
  .educ{
    margin-top: -12px;
    color: rgb(43, 13, 99);
    font-size: 13px;
  }

  .educ1{
    margin-top: -11px;
    font-size: 13px;
    color: rgb(43, 13, 99);
  }

  .educ2{
    text-decoration: underline;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
    margin-top: -35px;
    color: rgb(43, 13, 99);
  }
  
  .heading{
      font-size: 13px;
      margin-top: -8px;
      font-weight:bold;
      color: rgb(43, 13, 99);
    
  }
  
  .p-4 {
    margin-top: -5px;
    color: rgb(43, 13, 99);
    font-size: 13px;
    }

    .dhan1{
      float:right;
      font-size: 13px;
      margin-top: 1px;
      font-weight:bold;
      color: rgb(43, 13, 99);
      padding-right: 73px;
    }

  .dhan{
    float:right;
    font-size: 13px;
    margin-top: 1px;
    font-weight:bold;
    color: rgb(43, 13, 99);
    padding-right: 48px;
  }
  
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  